.userForms {
  flex: none;
}
.btn-outline-light {
  border-color: $clouds;
  color: $clouds;
  &:hover {
    background-color: $clouds;
  }
}
.btn-outline-success {
  color: $green;
  border-color: $green;
  &:hover {
    color: $clouds;
    border-color: $green;
    background-color: $green;
  }
}
.form-control {
  background: transparent;
  border-color: $clouds;
  color: $clouds;
}
.form-control:focus {
  color: $clouds;
  background-color: transparent;
  border-color: $clouds;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.alert-danger {
  background-color: $red;
  color: $black;
  border-color: transparent;
  margin: 10px auto;
}
.alert-success {
  background-color: $green;
  color: $clouds;
  border-color: transparent;
  margin: 10px auto;
}
.navbar-light {
  .navbar-nav {
    .nav-link {
      color: $clouds;
      &:hover {
        color: $clouds;
      }
      &:focus {
        color: $clouds;
      }
    }
  }
}
