#forbidden {
  margin: 150px auto 0;
  text-align: center;
  h1 {
    font-size: 127px;
    margin: 0 auto 20px;
    color: $red;
  }
  p {
    color: $red;
    font-family: Ubuntu;
    font-size: 32px;
  }
}
