#tasks {
  background: $clouds;
  border-radius: 6px;
  margin: 40px auto 0;
  padding: 20px;
  text-align: center;
  h2 {
    display: inline-block;
    font-family: Ubuntu;
    margin: 0 auto 20px;
    border-bottom: 1px solid $blue;
    padding: 0 20px 5px;
  }
  .fa-edit {
    color: $blue;
  }
  .fa-trash-alt {
    color: $red;
  }
  form {
    :first-of-type {
      border-color: $blue;
      color: $black;
    }
  }
}
